@import 'https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i';
@import './fonts/linear-icons-font/style.css';
@import './fonts/fontawesome-free-5.12.1-web/css/all.min.css';
@import './fonts/linecons/style.css';
html {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    overflow: hidden
}

body {
    position: initial;
    font-family: poppins, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color:#132a4f;
    background-position: center center;
    background-size: calc(100% + 25px);
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x: hidden
}

.lm-animated-bg {
    position: absolute;
    width: auto;
    height: auto;
    top: -18px;
    left: -18px;
    right: -18px;
    bottom: -18px;
    background-image: url(../img/main_bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1
}

.page-scroll {
    width: 100%;
    height: auto;
    min-height: 100%;
    vertical-align: middle;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

.add-prespective {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px
}

body.ajax-page-visible {
    overflow: hidden
}

.transition {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s
}
a {
    color: #007ced;
    text-decoration: none;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}


a:focus {
    outline: 0;
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: poppins, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #f5f5f5
}

h1 {
    font-size: 32px
}

h2 {
    font-size: 27px
}

h3 {
    font-size: 21px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

body,
p {
    font-family: poppins, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
    color: #d5d5d5
}

p {
    font-size: 14px;
    color: #d5d5d5;
    margin: 0 0 10px
}

p.lead {
    font-size: 18px;
    margin: 25px 0
}

ol,
ul {
    padding: 0 0 0 40px;
    margin: 1em 0
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 1em 0
}

dd {
    margin: 0 0 24px
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic
}

.mobile-visible {
    display: none;
    visibility: hidden
}

.mobile-hidden {
    display: block;
    visibility: visible
}

.form-group {
    position: relative;
    margin: 0 0 21.5px
}

.form-control,
.form-control:focus {
    height: 42px
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
input[type=search],
input[type=password],
input[type=text] {
    position: relative;
    border: 2px solid #555;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 10px 25px 10px 12px;
    width: 100%;
    min-width: 100%;
    background: 0 0;
    text-align: left;
    color: #eee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: poppins, Helvetica, sans-serif
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
input[type=search],
input[type=password],
input[type=text],
.header-search input.form-control {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0)
}

textarea.form-control,
textarea.form-control:focus {
    height: auto
}

.form-control+.form-control-border {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    border-radius: 5px;
    top: 0;
    opacity: 0;
    background: 0 0 !important;
    border: 2px solid #007ced;
    border-right-width: 0;
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.form-control:focus+.form-control-border {
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
    border-right-width: 2px
}

.has-error .form-control+.form-control-border {
    border-color: #ff4c4c;
    background-color: transparent
}

.form-control::-moz-placeholder {
    color: #adadac
}

.form-control:-ms-input-placeholder {
    color: #adadac
}

.form-control::-webkit-input-placeholder {
    color: #adadac
}

.form-group .help-block {
    position: absolute;
    display: inline-block;
    padding: 0 5px;
    font-size: .93em;
    line-height: 1.75em;
    margin: -2px 0 0 10px;
    color: #fff;
    background: #ff4e4e;
    z-index: 1
}

.form-group .help-block:after {
    content: " ";
    position: absolute;
    left: 5px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ff4e4e;
    border-right: 10px solid transparent
}

.form-group .help-block:empty {
    display: none
}

.form-group-with-icon i {
    position: absolute;
    font-size: 16px;
    top: 13px;
    right: 13px;
    color: #d3d3d3
}

.form-group-with-icon.form-group-focus i {
    color: #007ced
}

.form-group.form-group-w-checkbox {
    padding-top: 0;
    padding-bottom: 8px;
    margin-bottom: 17px
}

.form-group-with-icon.form-group-w-checkbox {
    padding-top: 8px;
    padding-left: 52px;
    margin-bottom: 25px
}

.form-group .form-control-checkbox+label,
.form-group.form-group-focus .form-control-checkbox+label {
    position: relative;
    display: inline;
    left: 0;
    top: 0;
    font-size: 1em;
    opacity: 1
}

.form-group .form-control-checkbox,
.form-group.form-group-focus .form-control-checkbox {
    display: inline-block;
    width: auto;
    height: auto;
    top: 2px
}

.form-group.form-group-w-checkbox .help-block {
    top: 100%;
    left: 0;
    margin-left: 0
}

.form-group.form-group-with-icon.form-group-w-checkbox .help-block {
    left: 52px
}

.no-padding {
    padding: 0
}

.subpage-block {
    margin-bottom: 30px
}

.text-rotation {
    display: block
}

.center {
    text-align: center
}

figure {
    max-width: 100%
}

.hidden {
    display: none;
    visibility: hidden
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px
}

.btn-primary,
.btn-secondary,
button,
input[type=button],
input[type=submit],
.wp-block-button .wp-block-button__link {
    display: inline-block;
    position: relative;
    padding: .8em 2.1em;
    margin-bottom: .75em;
    margin-right: .25em;
    font-size: 1em;
    line-height: 1.2;
    border: 0;
    outline: 0;
    border: 2px solid #007ced;
    color: #fff;
    text-shadow: none;
    background-color: #333;
    border-radius: 30px;
    font-family: poppins, Helvetica, sans-serif;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .78)
}

.btn-primary:last-child,
.btn-secondary:last-child,
button:last-child,
input[type=button]:last-child,
input[type=submit]:last-child,
.wp-block-button .wp-block-button__link:last-child {
    margin-right: 0
}

.btn-primary:hover,
.btn-primary:focus,
button:hover,
button:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=submit]:hover,
input[type=submit]:focus {
    background-color: #007ced;
    color: #fff;
    border: 2px solid #007ced
}

.btn-secondary {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .78)
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    border-color: #d5d5d5;
    background-color: #d5d5d5
}

.mfp-container button {
    box-shadow: none
}

.border-top {
    border-top: 2px solid #007ced
}

.border-bottom {
    border-bottom: 2px solid #007ced
}

body>footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}

body>footer .copyrights {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    font-size: 12px;
    color: #9e9e9e
}

.alignleft {
    float: left;
    margin-right: 20px
}

.alignright {
    float: right;
    margin-left: 20px
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.alignfull {
    margin-left: -120px;
    margin-right: -120px;
    min-width: calc(100% + 240px)
}

.alignwide {
    margin-left: -60px;
    margin-right: -60px;
    min-width: calc(100% + 120px)
}

.wp-block-image .alignleft {
    margin-right: 30px
}

.wp-block-image .alignright {
    margin-left: 30px
}

blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft {
    margin: 7px 24px 7px 0
}

.wp-caption.alignleft {
    margin: 7px 14px 7px 0
}

.wp-block-cover,
.wp-block-cover-image {
    margin-bottom: 20px
}

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright {
    margin: 7px 0 7px 24px
}

.wp-caption.alignright {
    margin: 7px 0 7px 14px
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
    margin-top: 7px;
    margin-bottom: 7px
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-top: 17px;
    width: 50%
}

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p {
    margin-bottom: 17px
}

table,
th,
td {
    border: 1px solid rgba(0, 0, 0, .1)
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin-bottom: 24px;
    width: 100%
}

caption,
th,
td {
    font-weight: 400;
    text-align: left
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
    padding: .5em
}

td {
    border-width: 0 1px 1px 0;
    padding: .5em
}

.p-10 {
    padding-top: 10px
}

.p-20 {
    padding-top: 20px
}

.p-30 {
    padding-top: 30px
}

.p-40 {
    padding-top: 40px
}

.p-50 {
    padding-top: 50px
}

.p-60 {
    padding-top: 60px
}

.p-70 {
    padding-top: 70px
}

.p-80 {
    padding-top: 80px
}

.p-90 {
    padding-top: 90px
}

.p-100 {
    padding-top: 100px
}

.no-js .preloader,
.no-js .preloader-portfolio {
    display: none
}

.preloader,
.preloader-portfolio {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #222
}

.preloader-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: inherit;
    color: inherit;
    opacity: 1;
    transition: opacity .3s;
    transform: translate3d(-50%, -50%, 0)
}

.preloader-spinner {
    width: 52px;
    height: 52px;
    margin: 100px auto;
    background-color: #007ced;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.1);
        opacity: 0
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0
    }
}

.page-container {
    display: flex;
    flex-flow: column;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 1240px;
    margin: 3% auto;
    padding: 40px 70px 60px;
    background-color: #222;
    -webkit-box-shadow: 0 0 40px -10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 40px -10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

.transform3d {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.flex-v-align {
    vertical-align: middle;
    width: 100%;
    min-height: 100%;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0
}

.flex-direction-reverse {
    flex-direction: row-reverse
}

.fw-section-fluid {
    width: calc( 100% + 140px);
    margin: 0 -70px;
    padding: 0 45px
}

@media only screen and (max-width:991px) {
    .fw-section-fluid {
        width: calc( 100% + 80px);
        margin: 0 -40px;
        padding: 0 25px
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeOutLeft {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft
}

@-webkit-keyframes flipInLeft {
    from {
        -webkit-transform: translateZ(-1000px) rotateY(-90deg);
        opacity: .2
    }
}

@keyframes flipInLeft {
    from {
        -webkit-transform: translateZ(-1000px) rotateY(-90deg);
        transform: translateZ(-1000px) rotateY(-90deg);
        opacity: .2
    }
}

.transition-flip-in-right {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipInLeft .5s both ease-out;
    animation: flipInLeft .5s both ease-out
}

.transition-swap {
    -webkit-animation-name: swap;
    animation-name: swap
}

@-webkit-keyframes swap {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scale(0, 0) translate(0px, 0px);
        transform: scale(0, 0) translate(0px, 0px)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scale(1, 1) translate(0px, 0px);
        transform: scale(1, 1) translate(0px, 0px)
    }
}

@keyframes swap {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scale(0, 0) translate(0px, 0px);
        transform: scale(0, 0) translate(0px, 0px)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scale(1, 1) translate(0px, 0px);
        transform: scale(1, 1) translate(0px, 0px)
    }
}

.transition-vanish-in {
    -webkit-animation-name: vanishIn;
    animation-name: vanishIn
}

@-webkit-keyframes vanishIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        -webkit-filter: blur(90px);
        filter: blur(90px)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
        filter: blur(0px)
    }
}

@keyframes vanishIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        -webkit-filter: blur(90px);
        filter: blur(90px)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
        filter: blur(0px)
    }
}

.transition-puff-in {
    -webkit-animation-name: puffIn;
    animation-name: puffIn
}

@-webkit-keyframes puffIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        -webkit-filter: blur(2px);
        filter: blur(2px)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
        filter: blur(0px)
    }
}

@keyframes puffIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        -webkit-filter: blur(2px);
        filter: blur(2px)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
        filter: blur(0px)
    }
}

.transition-space-in-right {
    -webkit-animation-name: spaceInRight;
    animation-name: spaceInRight
}

@-webkit-keyframes spaceInRight {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale(.2) translate(200%, 0%);
        transform: scale(.2) translate(200%, 0%)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale(1) translate(0%, 0%);
        transform: scale(1) translate(0%, 0%)
    }
}

@keyframes spaceInRight {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale(.2) translate(200%, 0%);
        transform: scale(.2) translate(200%, 0%)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale(1) translate(0%, 0%);
        transform: scale(1) translate(0%, 0%)
    }
}

.transition-twister-in-up {
    -webkit-animation-name: twisterInUp;
    animation-name: twisterInUp
}

@-webkit-keyframes twisterInUp {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scale(0, 0) rotate(360deg) translateY(100%);
        transform: scale(0, 0) rotate(360deg) translateY(100%)
    }
    30% {
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scale(0, 0) rotate(360deg) translateY(100%);
        transform: scale(0, 0) rotate(360deg) translateY(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(1, 1) rotate(0deg) translateY(0);
        transform: scale(1, 1) rotate(0deg) translateY(0)
    }
}

@keyframes twisterInUp {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scale(0, 0) rotate(360deg) translateY(100%);
        transform: scale(0, 0) rotate(360deg) translateY(100%)
    }
    30% {
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scale(0, 0) rotate(360deg) translateY(100%);
        transform: scale(0, 0) rotate(360deg) translateY(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(1, 1) rotate(0deg) translateY(0);
        transform: scale(1, 1) rotate(0deg) translateY(0)
    }
}

.header {
    display: block;
    width: 100%;
    padding-bottom: 40px;
    position: relative
}

@media only screen and (min-width:991px) {
    .header {
        width: calc(100% + 40px);
        margin-left: -20px
    }
}

.header.fixed {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    right: 0;
    margin: 0 auto;
    max-width: 1240px;
    padding: 20px 50px
}

.text-logo {
    float: left
}

.text-logo a {
    display: block;
    outline: 0
}

.text-logo a:focus {
    outline: 0
}

.logo-symbol {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #007ced;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px
}

.logo-text {
    float: left;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 600
}

.logo-text span {
    font-weight: 400
}

.header-image {
    float: left;
    margin-right: 10px
}

.site-nav {
    float: right
}

.site-main-menu {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 99
}

.site-main-menu li {
    display: inline-block;
    position: relative;
    color: #333;
    text-decoration: none;
    margin-right: 40px
}

.site-main-menu li:last-child {
    margin-right: 0
}

.site-main-menu li a {
    color: #f5f5f5;
    text-decoration: none;
    line-height: 50px;
    font-size: 14px;
    opacity: .55
}

.site-main-menu li.current-menu-item>a,
.site-main-menu li.current-menu-parent>a,
.site-main-menu li:hover>a {
    opacity: 1
}

@media only screen and (min-width:992px) {
    .site-main-menu li:hover>.sub-menu {
        visibility: visible;
        opacity: 1;
        top: 100%
    }
    .site-main-menu .sub-menu {
        display: block;
        position: absolute;
        background-color: #333;
        left: -23px;
        top: 100px;
        width: auto;
        max-width: none;
        margin: 0;
        padding: 20px 23px;
        border-radius: 8px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
        opacity: 0;
        visibility: hidden;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out
    }
    .site-main-menu li:last-child>.sub-menu {
        left: auto;
        right: 0
    }
    .sub-menu li {
        display: block;
        margin: 0 0 12px;
        padding: 0
    }
    .sub-menu li:last-child {
        margin-bottom: 0
    }
    .sub-menu li a {
        display: block;
        opacity: .5;
        line-height: 1.6em;
        width: max-content
    }
    .sub-menu li.current-menu-item a,
    .sub-menu li a:hover {
        opacity: 1
    }
    .site-main-menu .menu-item-has-children>a:after {
        content: "\f107";
        display: inline-block;
        font-family: "font awesome 5 free";
        font-style: normal;
        font-weight: 700;
        text-rendering: auto;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        margin-left: 5px;
        opacity: .3;
        background-color: transparent
    }
}

.page-title {
    display: block;
    position: relative;
    background-color: #252525;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 65px 70px;
    margin-right: -70px;
    margin-left: -70px;
    margin-bottom: 65px;
    text-align: left
}

.list-view .page-title {
    margin-bottom: 35px
}

.page-title h1 {
    font-size: 44px;
    font-weight: 600;
    margin: 0
}

.page-title .page-subtitle {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 70px
}

.page-title .page-subtitle h4 {
    color: #aaa;
    font-weight: 400;
    font-size: 14px;
    margin: 1.33em 0
}

.page-layout {
    position: relative;
    min-height: 100%;
    height: 100%
}

.page-header {
    margin-top: 0
}

.content-page-with-sidebar .page-content {
    width: 100%
}

.blog-sidebar {
    position: fixed;
    display: block;
    width: 310px;
    right: -310px;
    background-color: #fcfcfc;
    padding: 0;
    top: 0;
    height: 100%;
    float: none;
    z-index: 101;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .66s ease-in-out;
    -moz-transition: all .66s ease-in-out;
    -o-transition: all .66s ease-in-out;
    -ms-transition: all .66s ease-in-out;
    transition: all .66s ease-in-out
}

.hidden-sidebar {
    opacity: 0;
    visibility: hidden
}

.blog-sidebar .blog-sidebar-content {
    overflow: auto;
    height: 100%;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .66s ease-in-out;
    -moz-transition: all .66s ease-in-out;
    -o-transition: all .66s ease-in-out;
    -ms-transition: all .66s ease-in-out;
    transition: all .66s ease-in-out
}

.blog-sidebar.open .blog-sidebar-content {
    opacity: 1;
    visibility: visible
}

.blog-sidebar.open {
    right: 0;
    -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, .08);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .08)
}

.sidebar-toggle {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 46px;
    text-align: center;
    background-color: #fcfcfc;
    left: -48px;
    font-size: 19px;
    top: 83px;
    border: 2px solid #eee;
    border-right-width: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

.sidebar-toggle {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer
}

.sidebar-toggle span {
    display: block;
    position: absolute;
    height: 3px;
    width: 40%;
    background: #666;
    border-radius: 5px;
    opacity: 1;
    left: 17px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.sidebar-toggle span:before {
    content: '';
    width: 3px;
    height: 3px;
    background-color: #666;
    position: absolute;
    left: -4px;
    border-radius: 5px
}

.sidebar-toggle.open span:before {
    left: -2px
}

.sidebar-toggle span:nth-child(1) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

.sidebar-toggle span:nth-child(2) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

.sidebar-toggle span:nth-child(3) {
    top: 26px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center
}

.sidebar-toggle.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px
}

.sidebar-toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0
}

.sidebar-toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 26px
}

.list-view .paging-navigation {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0
}

.block-title h2,
h3.comment-reply-title {
    display: inline-block;
    position: relative;
    font-size: 21px;
    margin: 0 0 30px;
    z-index: 1;
    padding-bottom: 7px
}

.block-title h2:after,
h3.comment-reply-title:after {
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    background-color: #007ced;
    height: 2px;
    bottom: 0
}

.block-title h2:before,
h3.comment-reply-title:before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    background-color: #353535;
    height: 2px;
    bottom: 0
}

.block-title h3 span {
    color: #007ced
}

.custom-page-content .block {
    margin-bottom: 30px
}

.custom-page-content .page-content {
    background-color: #fff
}

.lmpixels-scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 100;
    display: inline-block;
    padding: 0;
    background-color: #333;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #222;
    color: #aaa;
    opacity: 1;
    border-radius: 8px;
    visibility: visible;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12)
}

.lmpixels-scroll-to-top:hover {
    color: #0099e5
}

.lmpixels-scroll-to-top.hidden-btn {
    opacity: 0;
    visibility: hidden
}

.home-content {
    margin: 5% 10%
}

.home-text {
    text-align: left;
    padding-right: 10px
}

.home-text.hp-left {
    padding-left: 25px;
    padding-right: 0
}

.home-text h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px
}

.home-text h4 {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin-bottom: 10px
}

.home-photo {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(100% - 36px);
    border-radius: 1000px;
    overflow: hidden;
    background-color: #444;
    border: 18px solid #444;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .8);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .8)
}

.home-photo .hp-inner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    width: auto;
    left: -18px;
    right: -18px
}

.home-buttons {
    margin-top: 27px
}

@media only screen and (max-width:1100px) {
    .home-content {
        margin: 5% 0
    }
}

@media only screen and (max-width:767px) {
    .home-photo {
        width: 60%;
        padding-bottom: calc(60% - 36px);
        margin: 30px auto
    }
    .home-text {
        padding-right: 0
    }
    .home-text.hp-left {
        padding-left: 0
    }
    .home-text h1,
    .home-text h4 {
        text-align: center
    }
    .home-buttons {
        text-align: center
    }
}

@media only screen and (max-width:648px) {
    .home-photo,
    .home-photo.hp-left {
        width: 70%;
        padding-bottom: calc(70% - 36px)
    }
}


.info-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none
}

.info-list li {
    margin: 6px 0;
    text-align: left
}

.info-list li .title {
    display: inline-block;
    font-weight: 600;
    margin-right: 15px;
    font-family: Poppins, Helvetica, sans-serif
}

.info-list li .title:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #007ced
}

.info-list li .value {
    display: inline-block
}

.social-links-block {
    margin: 25px 0 5px
}

ul.social-links {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left
}

ul.social-links li {
    display: inline-block;
    margin: 0;
    padding: 0
}

ul.social-links li a {
    display: inline-block;
    margin: 0 1px 5px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    color: #9e9e9e;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    text-align: center;
    vertical-align: middle
}

ul.social-links li a:hover {
    color: #212121
}

ul.social-links li a i {
    font-size: 16px;
    line-height: 32px
}

ul.social-links li a img {
    vertical-align: text-bottom;
    line-height: 100%
}

ul.social-links li:last-child a {
    margin-right: 0
}

.single-page-content.start-page-template .content-area {
    position: initial
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .start-page .section-inner.vcentered .mask {
        height: 100vh
    }
}

.info-block-w-icon {
    position: relative;
    text-align: left;
    width: 100%;
    display: table;
    margin: 0;
    padding: 0 10px 30px 0
}

.info-block-w-icon .ci-icon {
    position: relative;
    display: table-cell;
    padding: 0 10px 5px 0;
    width: 44px
}

.info-block-w-icon .ci-text {
    position: relative;
    display: table-cell;
    padding: 0 0 0 15px;
    vertical-align: middle
}

.info-block-w-icon .ci-text h4 {
    margin: 7px 0
}

.info-block-w-icon .ci-text p {
    font-size: .92em
}

.info-block-w-icon .ci-text p:last-child {
    margin-bottom: 0
}

.info-block-w-icon i {
    position: relative;
    display: table-cell;
    font-size: 33px;
    color: #007ced
}

.info-block-w-icon img {
    position: relative;
    max-width: 54px
}

.timeline-item {
    position: relative;
    padding: 25px 0 20px 40px
}

.timeline-item:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: #333;
    width: 1px;
    left: 15px;
    bottom: 5px
}

.timeline-item:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background-color: #333;
    width: calc(100% - 15px);
    left: 15px;
    bottom: 3px
}

.timeline-item:first-child {
    padding-top: 3px
}

.timeline-item:last-child:after {
    display: none
}

.timeline-item:last-child {
    margin-bottom: 30px
}

.timeline-item h5.item-period {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 5px -40px;
    color: #d5d5d5;
    background-color: #222;
    padding: 0 10px;
    line-height: 23px;
    border: 2px solid #007ced;
    border-radius: 30px
}

.timeline-item .item-company {
    display: inline-block;
    font-size: 12px;
    color: #aaa;
    opacity: .7;
    margin-left: 5px
}

.timeline-item .item-title {
    font-size: 16px;
    margin: 10px 0 7px
}

.timeline-item p {
    font-size: .92em
}

.certificate-item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 2px solid #444;
    border-radius: 8px;
    margin-bottom: 20px;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.certificate-item:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    -o-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    box-shadow: 0 12px 17px rgba(0, 0, 0, .12)
}

.certi-logo {
    display: table-cell;
    width: 120px;
    height: 100%;
    background-color: #444;
    padding: 25px;
    vertical-align: middle;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.certi-logo img {
    display: block;
    max-width: 100%
}

.certi-content {
    display: table-cell;
    width: 100%;
    padding: 20px 25px;
    vertical-align: middle
}

.certi-title h4 {
    font-size: 16px;
    margin: 0 0 5px
}

.certi-id {
    font-size: .9em;
    color: #777
}

.certi-date {
    font-size: .7em;
    color: #777;
    opacity: .7
}

.skills-info.skills-first-style {
    margin-bottom: 30px
}

.skills-info.skills-first-style h4 {
    font-size: 13px;
    line-height: 1.1em;
    position: relative;
    float: left;
    margin: 0 0 4px
}

.skills-first-style .skill-container {
    position: relative;
    background-color: transparent;
    border: 2px solid #444;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 12px;
    margin-bottom: 15px;
    width: 100%
}

.skills-first-style .skill-value {
    font-size: 11px;
    line-height: 1.1em;
    position: relative;
    float: right;
    margin: 0 0 4px;
    color: #888
}

.skills-first-style .skill-percentage {
    background-color: #007ced;
    border: 2px solid #222;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    height: 8px;
    padding: 0
}

.service-block {
    text-align: center;
    padding: 0;
    margin-bottom: 30px
}

.service-block img {
    max-width: 100px;
    max-height: 74px;
    margin: 0 0 18px
}

.service-icon {
    display: block;
    font-size: 48px;
    line-height: 80px;
    color: #fff;
    background-color: #007ced;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: 5px auto 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.service-icon:hover {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 7px 12px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 7px 12px rgba(0, 0, 0, .15);
    box-shadow: 0 7px 12px rgba(0, 0, 0, .15)
}

.testimonial-item {
    padding: 30px;
    margin-bottom: 10px
}

.testimonial-content {
    position: relative;
    padding: 30px 20px 20px 60px;
    background-color: #282828;
    border-radius: 8px;
    border: 2px solid #444;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.testimonial-picture {
    position: absolute;
    display: block;
    top: -30px;
    left: -30px;
    width: 80px;
    height: 80px
}

.testimonial-picture img {
    display: inline-block;
    border-radius: 80px;
    border-color: #444
}

.testimonial-text p {
    font-style: italic
}

.testimonial-author-info {
    margin-top: 15px
}

.testimonial-author {
    margin: 0 0 2px;
    font-size: .9em;
    color: #e5e5e5
}

.testimonial-firm {
    margin: 0;
    font-size: .8em;
    color: #bbb
}

.testimonial-icon {
    display: block;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    left: 20px;
    bottom: 46px;
    color: #454545
}

.testimonial-icon-big {
    display: block;
    line-height: 44px;
    font-size: 44px;
    position: absolute;
    right: -24px;
    bottom: -24px;
    color: #353535;
    z-index: -1
}

.client-block {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 30px;
    opacity: .7;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.client-block:hover {
    opacity: 1
}

.client-block img {
    max-width: 80px;
    margin: 0 auto
}

.clients.owl-carousel .client-block {
    padding: 10px 15px 15px;
    margin-bottom: 15px
}

.clients.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    max-width: 100px
}

.clients.owl-carousel .owl-dots,
.testimonials.owl-carousel .owl-dots {
    position: relative;
    width: 100%;
    text-align: center
}

.clients.owl-carousel .owl-dot,
.testimonials.owl-carousel .owl-dot {
    display: inline-block;
    margin: 3px 0
}

.clients.owl-carousel .owl-dot span,
.testimonials.owl-carousel .owl-dot span {
    display: block;
    height: 3px;
    background-color: #454545;
    border-radius: 3px;
    margin: 4px;
    width: 20px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.clients.owl-carousel .owl-dot.active span,
.clients.owl-carousel .owl-dot:hover span,
.testimonials.owl-carousel .owl-dot.active span,
.testimonials.owl-carousel .owl-dot:hover span {
    background-color: #007ced
}

.clients.owl-carousel .owl-dot.active span,
.testimonials.owl-carousel .owl-dot.active span {
    background-color: #007ced;
    width: 30px
}

.lm-info-block {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 15px;
    background-color: #333;
    padding: 25px 10px 15px;
    border: 2px solid #444;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.lm-info-block:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    -o-box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
    box-shadow: 0 12px 17px rgba(0, 0, 0, .12)
}

.lm-info-block.gray-bg {
    background-color: #fcfcfc
}

.lm-info-block h4 {
    font-size: 16px;
    margin: 15px
}

.lm-info-block i {
    position: relative;
    font-size: 33px;
    color: #007ced;
    margin-bottom: 6px;
    width: 33px;
    height: 33px
}

.lm-info-block .lm-info-block {
    font-size: 24px;
    font-weight: 400;
    display: block;
    margin: 10px 0;
    color: #007ced
}

.lm-info-block-value {
    color: #d5d5d5;
    font-size: 48px;
    line-height: 52px;
    display: block;
    margin: 15px 0 10px
}

.lm-info-block-text {
    display: block
}

.portfolio-filters {
    list-style: none;
    padding: 0;
    margin: 0 0 2em;
    text-align: right
}

.portfolio-filters li {
    display: inline-block
}

.portfolio-filters li a,
.portfolio-filters li a:hover,
.portfolio-filters li a:not([href]) {
    color: #f5f5f5;
    font-size: 12px;
    line-height: 1.5;
    padding: 3px 14px;
    text-decoration: none;
    opacity: .5;
    cursor: pointer
}

.portfolio-filters li.active a,
.portfolio-filters li.active a:hover,
.portfolio-filters li a:hover {
    opacity: 1
}

.pf-load-more {
    margin-top: 40px
}

.portfolio-grid {
    margin-left: -8px;
    margin-right: -8px
}

.portfolio-grid figure {
    width: 33.33333%;
    float: left;
    position: relative;
    overflow: hidden;
    margin: 8px;
    border-radius: 12px
}

.portfolio-grid img {
    position: relative;
    display: block;
    width: 100%
}

.portfolio-grid.one-column figure {
    width: 100%
}

.portfolio-grid.two-columns figure {
    width: calc(50% - 16px)
}

.portfolio-grid.three-columns figure {
    width: calc(33.33333% - 16px)
}

.portfolio-grid.four-columns figure {
    width: calc(25% - 16px)
}

.portfolio-grid.five-columns figure {
    width: calc(20% - 16px)
}

.portfolio-grid img {
    position: relative;
    display: block;
    width: 100%
}

.portfolio-grid figure a,
.portfolio-rid figure img {
    display: block;
    position: relative
}

.portfolio-grid figure img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.portfolio-grid figure:hover img {
    transform: scale(1.2)
}

.portfolio-grid figure a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3
}

.portfolio-item-img {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    border-radius: 8px
}

.portfolio-grid figure .portfolio-item-img:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .06);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.portfolio-grid figure:hover .portfolio-item-img:after {
    opacity: 1
}

.portfolio-item-desc {
    margin-top: 12px
}

.portfolio-item-desc h4 {
    margin-bottom: 0
}

.portfolio-item-desc small {
    color: #888
}

.portfolio-grid figure i {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color: #222;
    color: #007ced;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.portfolio-grid.five-columns figure i {
    bottom: 10px;
    right: 10px
}

.portfolio-grid figure .name {
    display: inline-block;
    padding: 4px 10px;
    margin: 0;
    background-color: #222;
    color: #f5f5f5;
    font-size: 14px;
    line-height: 1.2;
    top: 20px;
    left: 20px;
    max-width: calc(100% - 67px);
    border-radius: 5px;
    position: absolute
}

.portfolio-grid.five-columns figure .name {
    font-size: 13px;
    top: 10px;
    left: 10px
}

.portfolio-grid figure .category {
    display: inline-block;
    padding: 3px 7px;
    background-color: #222;
    color: #f5f5f5;
    font-size: 11px;
    line-height: 1.2em;
    bottom: 20px;
    left: 20px;
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.portfolio-grid.five-columns figure .category {
    bottom: 10px;
    left: 10px
}

.portfolio-grid figure:hover i,
.portfolio-grid figure:hover .category {
    opacity: 1
}

.load-more-btn-container {
    text-align: center
}

.blog-masonry {
    margin: 0 -1em .5em
}

.blog-masonry.one-column .item {
    width: 100%;
    padding: 0 1em 2em
}

.blog-masonry.two-columns .item {
    width: 50%;
    float: left;
    padding: 0 1em 2em
}

.blog-masonry.three-columns .item {
    width: 33.333333%;
    float: left;
    padding: 0 1em 2em
}

.blog-card {
    display: block;
    position: relative;
    padding: 0
}

.blog-card .post-image {
    width: 100%;
    margin: 0
}

.blog-card .media-block {
    overflow: hidden;
    border-bottom: 0;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0)
}

.blog-card .media-block img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.blog-card .media-block:hover img {
    transform: scale(1.1)
}

.blog-card .post-without-f-image {
    padding-bottom: 46.875%;
    width: 100%;
    background-color: #f5f5f5
}

.blog-card .post-info {
    padding: 10px 0 15px
}

.blog-card .blog-item-title {
    margin: 5px 0 0
}

.blog-card .post-meta {
    padding: 1em;
    margin: 0
}

.blog-card .category {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 3
}

.blog-card .category a {
    position: relative;
    background: #222;
    border-radius: 3px;
    padding: 3px 7px;
    line-height: 1.2em;
    font-size: 11px;
    color: #f5f5f5
}

.blog-card .post-date {
    display: inline-block;
    color: #aaa;
    font-size: 11px;
    line-height: 1.1em;
    font-weight: 400
}

.blog-card .media-block {
    position: relative
}

.sticky-badge {
    position: absolute;
    background-color: #fff;
    right: 10px;
    top: 10px;
    font-size: 12px;
    padding: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #888;
    z-index: 3;
    border-radius: 3px
}

.blog-card .media-block a .mask {
    position: absolute;
    background: #4f565e;
    background: rgba(0, 0, 0, .12);
    display: inline-block;
    font-family: linearicons-free;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.blog-card .media-block a .mask:after {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    width: 44px;
    line-height: 44px;
    font-size: 44px;
    text-align: center;
    content: "\e828";
    color: #fff
}

.blog-card .media-block:hover a .mask {
    visibility: visible;
    opacity: 1
}

.blog-card ul.category li a {
    color: #888;
    font-size: 12px;
    font-weight: 300
}

.blog-card .post-meta .item,
.post-meta .item a {
    color: #a6a6a6
}

.post-meta .item {
    display: inline-block;
    font-size: 13px;
    margin-right: 10px
}

.post-meta .item:before {
    padding-right: 5px
}

.g-recaptcha {
    margin-bottom: 20px
}

.map {
    width: 100%;
    height: 150px;
    margin: 0 0 50px
}

.controls.two-columns .left-column {
    width: 47%;
    float: left;
    margin-right: 3%
}

.controls.two-columns .right-column {
    width: 50%;
    float: right
}

.testimonials {
    width: 100%
}

.testimonials.owl-carousel .owl-nav,
.clients.owl-carousel .owl-nav {
    position: absolute;
    text-align: right;
    right: 0;
    bottom: 5px
}

.testimonials.owl-carousel .owl-nav .owl-prev,
.clients.owl-carousel .owl-nav .owl-prev {
    margin-right: 3px
}

.testimonials.owl-carousel .owl-nav .owl-prev,
.testimonials.owl-carousel .owl-nav .owl-next,
.clients.owl-carousel .owl-nav .owl-prev,
.clients.owl-carousel .owl-nav .owl-next {
    display: inline-block;
    font-family: "font awesome 5 free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-transition-duration: .2s;
    transition-duration: .2s
}

.testimonials.owl-carousel .owl-nav .owl-prev:hover,
.testimonials.owl-carousel .owl-nav .owl-next:hover,
.clients.owl-carousel .owl-nav .owl-prev:hover,
.clients.owl-carousel .owl-nav .owl-next:hover {
    color: #fff;
    background-color: #007ced;
    border-color: #007ced
}

.testimonials.owl-carousel .owl-nav .owl-prev:before,
.testimonials.owl-carousel .owl-nav .owl-next:before,
.clients.owl-carousel .owl-nav .owl-prev:before,
.clients.owl-carousel .owl-nav .owl-next:before {
    position: relative;
    margin: 2px;
    width: 22px;
    height: 22px;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    display: block;
    cursor: pointer
}

.testimonials.owl-carousel .owl-nav .owl-prev:before,
.clients.owl-carousel .owl-nav .owl-prev:before {
    content: "\f053"
}

.testimonials.owl-carousel .owl-nav .owl-next:before,
.clients.owl-carousel .owl-nav .owl-next:before {
    content: "\f054"
}

.portfolio-page-carousel {
    overflow: hidden
}

.portfolio-page-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -22px;
    text-align: center;
    -webkit-tap-highlight-color: transparent
}
 